body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;  /* cor de fundo se a imagem não carregar */
    color: #333;
    line-height: 1.6;
    background-image: url('/images/baiao.jpg'); /* caminho da sua imagem */
    background-size: cover; /* Para cobrir toda a tela */
    background-position: center center; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página rola */
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

/* Cabeçalho */
.header {
    background-color: #FF8C42;
    padding: 20px;
    text-align: center;
}

.recipe-title {
    color: white;
    font-size: 36px;
    margin-top: 10px;
}

.btn-home {
    background-color: #fff;
    color: #FF8C42;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-home:hover {
    background-color: #FF8C42;
    transition: 0.3s;
}

/* Conteúdo principal */
.recipe-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

strong {
    color: #333;
}

/* Rodapé */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
