body{
    background-color: rgb(189, 189, 189);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
    
}

